* {
    margin: 0;
    padding: 0;
}

.amplify-button[data-variation='primary'] {
    background: linear-gradient(to right,
            var(--amplify-colors-blue-80),
            var(--amplify-colors-blue-40));
}

#intro-container {
    text-align: center;
}